extends layout-loggedin.jade
block head
	script(src="js/controllers/company.js")
	link(type="text/css" rel="stylesheet" href="css/custom-forms.css")
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	style.
		.right-space{margin-right:10px;}
block content
	.card-panel
		.col.s12
			ul.tabs
				li.tab.col.s3
					a.active(id="btnDescription" ng-click="changeToDescription()")= t('app.company.titles.description')
				li.tab.col.s3
					a(id="btnPhones" ng-click="changeToPhone()")= t('app.company.titles.phones')
				li.tab.col.s3
					a(id="btnSpaces" ng-click="changeToMedia()")= t('app.company.titles.spaces')
		span(ng-show="stateDescription()")
			form.container(name="formDescription" novalidate)
				h3= t('app.company.titles.description')
				.row
					.input-field.col.s12
						input.validate(id="company_name" type="text" required ng-model="company.name" name="company_name" placeholder=t('app.company.labels.name'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_name.$touched")
							span(ng-show="formDescription.company_name.$error.required")= t('app.company.validations.companyNameRequired')
				.row
					.input-field.col.s12
						input.validate(id="email" type="email" required ng-model="company.email" name="email" placeholder=t('app.company.labels.email'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.email.$touched")
							span(ng-show="formDescription.email.$error.required")= t('app.company.validations.emailRequired')
							span(ng-show="formDescription.email.$error.email")= t('app.company.validations.emailFormat')
				h4= t('app.company.titles.address')
				.row
					.input-field.col.s12
						input.validate(id="street" type="text" required ng-model="company.address.street" name="company_street" placeholder=t('app.company.address.labels.street'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_street.$touched")
							span(ng-show="formDescription.company_street.$error.required")= t('app.company.address.labels.streetRequired')
				.row
					.input-field.col.s12
						input.validate(id="zipcode" type="text" required ng-model="company.address.zipcode" name="company_zipcode" placeholder=t('app.company.address.labels.zipcode'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_zipcode.$touched")
							span(ng-show="formDescription.company_zipcode.$error.required")= t('app.company.address.validations.zipcodeRequired')
				.row
					.input-field.col.s12
						input.validate(id="number" type="number" required ng-model="company.address.number" name="company_number" placeholder=t('app.company.address.labels.number'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_number.$touched")
							span(ng-show="formDescription.company_number.$error.required")= t('app.company.address.labels.numberRequired')
				.row
					.input-field.col.s12
						input.validate(id="neighborhood" type="text" required ng-model="company.address.neighborhood" name="company_neighborhood" placeholder=t('app.company.address.labels.neighborhood'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_neighborhood.$touched")
							span(ng-show="formDescription.company_neighborhood.$error.required")= t('app.company.address.validations.neighborhood')
				.row
					.input-field.col.s12
						input.validate(id="city" type="text" required ng-model="company.address.city" name="company_city" placeholder=t('app.company.address.labels.city'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_city.$touched")
							span(ng-show="formDescription.company_city.$error.required")= t('app.company.address.validations.cityRequired')
				.row
					.input-field.col.s12
						input(id="country" type="text" class="validate" required ng-model="company.address.country" name="company_country" placeholder=t('app.company.address.labels.country'))
						.deep-orange-text.accent-4.error-text(ng-show="formDescription.$submitted || formDescription.company_country.$touched")
							span(ng-show="formDescription.company_country.$error.required")= t('app.company.address.validatoins.countryRequired')
				.row
					button.btn.waves-effect.waves-light.right(type="submit" onclick="document.getElementById('btnPhones').click()")= t('app.company.buttons.next')
		span(ng-show="statePhone()")
			form.container(name="formPhones" novalidate)
				.row
					h4= t('app.company.titles.phones')
				.row
					div(class="input-field col s3")
						input(id="phone_number", type="text", class="validate", required, ng-model="phone.number", name="phone_number")
						label(for="name") #{label_phone_number}
						div(ng-show="formPhones.$submitted || formPhones.phone_number.$touched", class="deep-orange-text accent-4 error-text")
							span(ng-show="formPhones.phone_number.$error.required") #{error_phone_required}
					div(class="input-field col s8")
						input(id="phone_description", type="text", class="validate", ng-model="phone.description", name="phone_description")
						label(for="name") #{label_phone_description}
					div(class="input-field col s1")
						button(class="btn-floating btn-medium waves-effect waves-light", title="#{button_add_phone}", ng-click="addPhone()", ng-disabled="formPhones.$invalid")
							i(class="small material-icons", title="#{button_add_phone}") save
				.row
					table
						col
						col
						col(style="width:10% !important")
						thead
							tr
								th #{label_phone_number}
								th #{label_phone_description}
								th #{button_actions}
						tbody
							tr(ng-repeat="p in company.phones")
								td {{p.number}}
								td {{p.description}}
								td
									button(class="btn-floating btn-medium waves-effect waves-light red", title="#{button_delete_phone}", ng-click="removePhone(p)")
										i(class="small material-icons") delete
				.row
					button.btn.waves-effect.waves-light.right(type="submit" onclick="document.getElementById('btnSpaces').click()") Próximo
					button.btn.waves-effect.waves-light.right.right-space(type="submit" onclick="document.getElementById('btnDescription').click()") Anterior
		span(ng-show="stateMedia()")
			form(class="container", name="formSpaces", novalidate)
				.row
					h4(class="left") Espaços
				.row
					div.input-field.col.s11
						input(id="space_title" type="text" class="validate" ng-model="space.title" name="space_title" required)
						label(for="space_title") Título
						div(ng-show="formSpaces.space_title.$touched", class="deep-orange-text accent-4 error-text")
							span(ng-show="formSpaces.space_title.$error.required") Informe o título do espaço
					div.input-field.col.s1(ng-show="spaceIndex == null")
						button.btn-floating.btn-medium.waves-effect.waves-light(title="Adicionar" ng-click="addSpace()" ng-disabled="formSpaces.$invalid")
							i.small.material-icons(title="Adicionar") save
					div.input-field.col.s1(ng-show="spaceIndex != null")
						button.btn-floating.btn-medium.waves-effect.waves-light.green(title="Novo" ng-click="clearSpace()")
							i.small.material-icons(title="Novo") add
				.row
					.input-field.col.s12
						select#space_type.validate.browser-default.input-field(name="space_type" ng-model="space.type" required)
							option(value='', selected='') Escolha um tipo
							option(value='Salão') Salão
							option(value='Sintético') Sintético
							option(value='Society') Society
						div(ng-show="formSpaces.space_type.$touched", class="deep-orange-text accent-4 error-text")
							span(ng-show="formSpaces.space_type.$error.required") Informe o tipo
				.row
					.input-field.col.s12
						input#space_price.validate(type="number" ng-model="space.price" required name="space_price")
						label(for="space_price") Preço
						div(ng-show="formSpaces.space_price.$touched", class="deep-orange-text accent-4 error-text")
							span(ng-show="formSpaces.space_price.$error.required") Informe o preço de utilização do espaço
				.row
					.input-field.col.s12
						textarea#space_description.materialize-textarea(ng-model="space.description")
						label(for='space_description') Descrição
				.row
					table
						col
						col
						col(style="width:20% !important")
						thead
							tr
								th Título
								th Preço
								th Ações
						tbody
							tr(ng-repeat="s in company.spaces")
								td {{s.title}}
								td {{s.price}}
								td
									button.btn-floating.btn-medium.waves-effect.waves-light.blue.right-space(title="Alterar" ng-click="viewSpace(s)")
										i.small.material-icons mode_edit
									button(class="btn-floating btn-medium waves-effect waves-light red", title="Excluir", ng-click="removeSpace(s)")
										i(class="small material-icons") delete
				.row
					button.btn.waves-effect.waves-light.right(type="submit" ng-click="saveCompany()") Enviar
					button.btn.waves-effect.waves-light.right.right-space(type="submit" onclick="document.getElementById('btnPhones').click()") Anterior