extends layout.jade
block head
	script(src="js/controllers/login.js")
block content
	div(ng-controller="AppCtrl", class="card-panel")
		form(autocomplete="off", class="container")
			h2 #{form_title}
			div(class="row")
				div(class="input-field col s12")
					input(id="email", type="email", class="validate", required, ng-model="user.email")
					label(for="email") #{label_email}
			div(class="row")
				div(class="input-field col s12")
					input(id="password", type="password", class="validate", required, ng-model="user.password")
					label(for="password") #{label_password}
			div(class="row")
				button(class="waves-effect waves-light btn col s12", ng-click="login()") #{button_sigin}
			div(class="row")
				a(class="waves-effect waves-light btn col s12", href="/registeruser") #{button_register}