extends layout.jade
block head
    script(src="js/controllers/register.js")
block content
    div(ng-controller="RegisterCtrl", class="card-panel")
        form(autocomplete="off", class="container")
            h2 #{form_title}
            div(class="row")
                div(class="input-field col s12")
                    input(id="name", type="text", class="validate", required, ng-model="user.name")
                    label(for="name") #{label_name}
            div(class="row")
                div(class="input-field col s12")
                    input(id="email", type="email", class="validate", required, ng-model="user.email")
                    label(for="email") #{label_email}
            div(class="row")
                div(class="input-field col s12")
                    input(id="password", type="password", class="validate", required, ng-model="user.password")
                    label(for="password") #{label_password}
            div(class="row")
                div(class="input-field col s12")
                    input(id="confirm_password", type="password", class="validate", required)
                    label(for="confirm_password") #{label_confirm_password}
            div(class="row")
                button(class="waves-effect waves-light btn col s12", type="submit", ng-click="login()") #{button_submit}